<div class="container">
    <form (ngSubmit)="onSubmit()" class="form">
        <p class="title"> AIR TRAVEL FOOTPRINT CALCULATOR</p>
        <div class="flex">
        <div class="airport-select">
            <label>
                <ng-select 
                    class="my-custom-ng-select"
                    [(ngModel)]="selectedValue" 
                    name="airport" 
                    [items]="airports" 
                    bindLabel="name" 
                    bindValue="code" 
                    placeholder="Cerca Aeroporto di partenza"
                    [searchable]="true">
                </ng-select>
             </label>
             <label>
                <ng-select 
                    class="my-custom-ng-select"
                    [(ngModel)]="selectedValue2" 
                    name="airport2" 
                    [items]="airports" 
                    bindLabel="name" 
                    bindValue="code" 
                    placeholder="Cerca Aeroporto di arrivo"
                    [searchable]="true">
                </ng-select>
            </label>
        </div>
         
                
        <label>
        <input class="input" type="email" placeholder="Numero di passeggeri" required="" [(ngModel)]="passeggeri" name="passeggeri">
        </label> 
        <div *ngIf="submit">
        </div>
        
        <div class="button-container"><button class="submit" type="submit">Calculate</button></div>
    </div>
    </form>
</div>
<div *ngFor="let calcolo of calcoli; let i=index;">
    <app-calcolo [calcolo]="calcoli[i]"></app-calcolo>
</div>