.container{
  display: flex;
  justify-content: center;
}
.form{
  width: 450px;
  background-color: #464141;
  box-shadow: 3px 8px 15px rgba(0, 0, 0, 0.3), 0 4px 6px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
}
.flex{
  margin: 10px;
  display: flex;
  flex-direction: column;
}
.title{
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  color: white;
  display: flex;
  justify-content: center;
}

.airport-select {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000;
}

.my-custom-ng-select .ng-select-container {
  background-color: #fff; 
  border: 2px solid #000; 
  border-radius: 8px;     
  color: #000;            
  font-family: "Bebas Neue", sans-serif;
  font-size: 18px;      
  padding: 8px 10px;
  transition: border 0.3s ease, box-shadow 0.3s ease; 
}

.my-custom-ng-select .ng-select-dropdown {
  background-color: #000;
  border-radius: 0 0 8px 8px; 
  color: #fff; 
  border: none;
}


.my-custom-ng-select .ng-option {
  background-color: #000; 
  color: #fff; 
}

.my-custom-ng-select .ng-option:hover {
  background-color: #fff; 
  color: #000; 
}

.my-custom-ng-select .ng-value {
  background-color: #000;
  color: #fff; 
  border-radius: 8px;
  padding: 5px;
}

.my-custom-ng-select .ng-placeholder {
  color: #888; 
}


.my-custom-ng-select:hover .ng-select-container {
  border: 2px solid #fff; 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); 
}


.airport-select label {
  display: block;
  margin-bottom: 20px;
}
.input{
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 98%;
  height: 27px;
}
.submit{
  margin-top: 20px;
  font-family: "Bebas Neue", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  border-radius: 10px;
  width: 100px;
}
.button-container{
  display: flex;
  justify-content: center;
}
.submit:hover{
  border: 2px solid #fff; 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); 
}