<div class="container">
    <form (ngSubmit)="onSubmit()" class="form">
        <p class="title"> AIR TRAVEL FOOTPRINT CALCULATOR </p>
            <div class="flex">
            <label>
                <select [(ngModel)]="form.selectedValue" class="input" name="airport">
                    <option   *ngFor="let airport of airports " [value]="airport.code">{{airport.name}}, {{airport.city}}, {{airport.code}} </option>
                </select>
                <span>Aeroporto di partenza</span>
            </label>
            <label>
                <select [(ngModel)]="form.selectedValue2" class="input" name="airport2">
                    <option   *ngFor="let airport of airports " [value]="airport.code">{{airport.name}}, {{airport.city}}, {{airport.code}} </option>
                </select>
                <span>Aeroporto di arrivo</span>
            </label>
        </div>  
                
        <label>
            <input class="input" type="email" placeholder="" required="" [(ngModel)]="form.passeggeri" name="passeggeri">
            <span>Numero di Passeggeri</span>
        </label> 
        <div *ngIf="submit">

        </div>
        <button class="submit" type="submit">Calcola</button>
    </form>
</div>
<div *ngIf="submit" >
    <p>{{footprintresponse.footprint}} Emissioni di Co2 per 1 passeggero {{footprint}} Emissioni di Co2 per {{form.passeggeri}} passeggeri</p>
    <p>{{footprint}} Emissioni di Co2 per {{form.passeggeri}} passeggeri</p>
</div>